<!DOCTYPE html>
<html lang="es">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Login | Hociko's</title>
  <!-- CSS MATERIALIZE -->  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"> 
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../public/css/logReg.css">
  <!-- <link rel="stylesheet" href="css/materialize.min.css">-->

  <!--  SCRIPTS-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>  
  <!-- <script src="js/jquery-3.3.1.min.js"></script>-->
  <!-- <script src="js/materialize.js"></script>-->
</head>
<body class="bg">
  <div class="container">

    <div class="row esp-top-log">
      <div class="col s4"></div>
      <div class="col s5 card-panel">
        <form class="col s12">

          <div class="input-field col s12 center">
            <img src="../assets/img/Logo2_Icono.png" alt="" class="responsive-img valign profile-image-login">
          </div>

          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">person_outline</i>
              <input id="" type="text">
              <label for="usuario">Usuario</label>
            </div>

            <div class="input-field col s12">
              <i class="material-icons prefix">lock_outline</i>
              <input id="" type="password">
              <label for="password">Contraseña</label>
            </div>
          </div>

          <div class="form-foot">
            <div class="text-reg aregis">
              <p class="margin medium-small"><a href="registro.html"><strong>¡Registrarme ahora!</strong></a></p>
            </div>

            <div class="btnformulario">
              <a href="#!" class="btn waves-effect waves-personal btn-small">INICIAR SESIÓN</a>
            </div>
          </div>

        </form>

        </div> <!-- COL 4 CON FORM -->

        <!-- <div class="col s4"></div>    -->     
      </div> <!-- ROW PRINCIPAL -->
    </div> <!-- CONTAINER -->

  </body>
  </html>
