<!DOCTYPE html>
<html lang="es">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Regsitro | Hociko's</title>
  <!-- CSS MATERIALIZE -->
  <link rel="stylesheet" href="css/materialize.min.css">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"> -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="cyan">
  <div class="container">

    <div class="row">
      <div class="col s4"></div>
      <div class="col s5 card-panel">

        <form class="login-form">

          <div class="input-field col s12 center">
            <img src="../assets/img/Logo.png" alt="" class="responsive-img valign profile-image-login">
          </div>

          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">person_outline</i>
              <input id="username" type="text">
              <label for="username" class="center-align">Username</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">mail_outline</i>
              <input id="mail" type="text">
              <label for="mail" class="center-align">Email</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">mail_outline</i>
              <input id="mailC" type="text">
              <label for="mailC" class="center-align">Confirmar Email</label>
            </div>
          </div>


          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">lock_outline</i>
              <input id="password" type="password">
              <label for="password" class="center-align">Password</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <a href="#" class="btn waves-effect waves-light col s12">Registrarme</a>
            </div>
          </div>
          
          </form>
        </div> <!-- COL 4 CON FORM -->

        <!-- <div class="col s4"></div>  -->       
      </div> <!-- ROW PRINCIPAL -->
    </div> <!-- CONTAINER -->

    <!--  Scripts-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
    <script src="js/materialize.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script> -->

    <script>
    </script>

  </body>
  </html>
