*:focus {
  border: 1px dotted;
}
.nav-logo{
  max-height:34px;
  margin-top:auto;
  margin-bottom: auto;
  margin-left:10px;
}

.bold {
  font-weight: bold !important;
}

.placeholder{
	color:black !important;
}

.bg-721121{
  background-color:#721121 !important;
}

.bg-a5402d{
  background-color:#a5402d !important;
}

.bg-f15156{
  background-color: #f15156 !important;
}

.bg-ffc07f{
  background-color:#ffc07f !important;
}

.bg-ffcf99{
  background-color:#ffcf99 !important;
}
.btn{
  margin: auto; 
  display: block;
}

h1{
  font-size:30px;
}

h2{
  font-size:30px;
}

h3{
  color:black;
}

.social-icon{
  width: 20px;
}

a:hover, button:hover, li.collection-item:hover{
  font-weight: bold;
}

footer a{
  color:#cfe94c;
}

footer a:hover {
  color:black;
  font-weight:bold;
}

li.collection-item{
  cursor: pointer;
}

.selected{
  color:white !important;
  background-color:#721121 !important;
  font-weight:bold;
}

#footer-copyright{
  text-align: center;
  font-weight:bold;
}

.form-text{
  font-weight:bold;
}

.mt-15{
  margin-top:15px;
}
.pb-15{
  padding-bottom:15px !important;
}
.price-tag{
  margin-top:5px;
}

#avatarpic{
  width: 100px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.disabled {
  pointer-events: none;
}